@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
  width: 100%;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
/* global Alert system */

.alert.success {
  background-color: #d4edda;
  color: #155724;
}

.alert.error {
  background-color: #f8d7da;
  color: #721c24;
}

.alert.warning {
  background-color: #fff3cd;
  color: #856404;
}


/* text gradiant */
.text-grad {
  background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0.6));
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
}
